// 项目提供的scss全局变量

// 项目背景
$background: 
    linear-gradient(to bottom, transparent -100px,#f6eef0 300px),
    linear-gradient(to right, #D2EEF9,#FFD1DE);
// 项目背景颜色
$background-color: #f6eef0;
// 项目主色调
$main-color: #f39eb3;

// 侧边栏宽度
$base-sidebar-width: 260px;
// 顶部栏高度
$base-header-height: 80px;
// 最底部导航高度
$base-footer-height: 200px;
// 左侧logo高度
$base-sidebar-logo-height: 145px;
// 结算页版心宽度
$type-area-width: 1000px;
// 结算页头部背景色
$type-area-background-color: #ecc9d2;
// 页签导航高度
$nav-title-height: 2.5em;